.sidebar {
    background-color: #343a40; 
    color: #f8f9fa; 
    height: 100vh; 
    position: fixed; 
    padding-top: 20px; 
}

.nav-link {
    color: #adb5bd; 
}

.nav-link.active { 
    background-color: #495057; 
    color: #f8f9fa; 
}

.dashboard-kit {
    color: #adb5bd; 
    font-size: 16px; 
}